.item-caption{
    left: 10%;
    bottom: 30px;
    width: 80%;
}

.item{
    cursor: pointer;
}


.lightBoxContainer{
    background-color: rgb(0, 0, 0,.7);
}
.lightitem{
    background-image: url(./images/3.jpeg);
    width:50%;
    height: 70vh;
    background-size: cover;
}
i{
    border-radius: 50%;
    cursor: pointer;
}